:root {
  color-scheme: light;

  --tnl-color-primary: #0b6b5b;
  --tnl-color-on-primary: #ffffff;
  --tnl-color-primary-container: #a6f2df;
  --tnl-color-on-primary-container: #00201a;

  --tnl-color-secondary: #5a6232;
  --tnl-color-on-secondary: #ffffff;
  --tnl-color-secondary-container: #dfe8ac;
  --tnl-color-on-secondary-container: #181e00;

  --tnl-color-tertiary: #006a6a;
  --tnl-color-on-tertiary: #ffffff;
  --tnl-color-tertiary-container: #6ff7f7;
  --tnl-color-on-tertiary-container: #002020;

  --tnl-color-error: #ba1a1a;
  --tnl-color-on-error: #ffffff;
  --tnl-color-error-container: #ffdad6;
  --tnl-color-on-error-container: #410002;

  --tnl-color-background: #fbfcf8;
  --tnl-color-on-background: #191c1a;
  --tnl-color-surface: #fbfcf8;
  --tnl-color-on-surface: #191c1a;
  --tnl-color-surface-variant: #dde5de;
  --tnl-color-on-surface-variant: #414942;
  --tnl-color-outline: #717972;
  --tnl-color-outline-variant: #c1c9c2;

  --tnl-color-surface-container-lowest: #ffffff;
  --tnl-color-surface-container-low: #f5f7f2;
  --tnl-color-surface-container: #eff1ed;
  --tnl-color-surface-container-high: #e9ebe7;
  --tnl-color-surface-container-highest: #e3e5e1;

  --tnl-color-inverse-surface: #2e312f;
  --tnl-color-inverse-on-surface: #f0f1ed;
  --tnl-color-focus-ring: #006a6a;
}
